body {
    background-color: rgb(216,216,216);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0
}

header{
    text-align: center;
}

section {
    display: flex;
}

.container {
    height: 100px;
    margin: 10px;
}

#left {
    flex-grow: 1; /* Allow the div to grow and take available space */
    background-color: brown;
}

#right {
    width: 300px; /* Prevent the div from shrinking */
    background-color: aqua;
}

@media (max-width: 600px) {
    section {
      flex-direction: column;
    }

    
  }
